---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
	<main>
    <section class="w-full lg:w-[740px] mx-auto py-20">
      <h1 class="text-white font-bold text-5xl flex flex-row gap-x-4 pb-4">Hey, soy Julian 
        <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div></h1>
      <h2>Desarrollador de software con mas de 1 año de experiencia. De Popayán, Cauca. Especialista en
        desarrollo de aplicaciones web.
      </h2>
    </section>
	</main>
</Layout>
