
<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
  <nav class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
    <a class="px-2 py-1" href="#top">Inicio</a>   
    <a class="px-2 py-1" href="#Experience">Experiencia</a>   
    <a class="px-2 py-1" href="#About">Sobre Mi</a>   
    <a class="px-2 py-1" href="#Projects">Proyectos</a>   
    <a class="px-2 py-1" href="#Contact">Contacto</a>   
  </nav>
</header>