<a 
{...Astro.props}
class=" rounded-full border border-white 
        flex justify-center item-center 
        px-1 py-1 lg:px-2 gap-x-2 
        bg-gradient-to-r from-violet-500 to-orange-300
        text-black
        hover:scale-110 transition" 
    target="_blank"
    role="link">
    
  <slot />
</a>