---
interface Props {
	title: string;
}
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/kanit';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative">
    
    <div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
    </div>
  <Header />
		<slot />
  <Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
    font-family: 'Kanit', sans-serif;
    scroll-behavior: auto;
    scroll-behavior: smooth;
	}

  body{
    background: #151516;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
  }
  @media (prefers-reduce-motion: reduce) {
    html{
      scroll-behavior: auto;
    }
  }

</style>
